<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>loginservlet</servlet-name>
  	<display-name>loginservlet</display-name>
  	<description></description>
  	<servlet-class>servlets.loginservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addstudentservlet</servlet-name>
  	<display-name>addstudentservlet</display-name>
  	<description></description>
  	<servlet-class>servlets.addstudentservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<display-name>SignUp</display-name>
  	<description></description>
  	<servlet-class>servlets.SignUp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addteacherservlet</servlet-name>
  	<display-name>addteacherservlet</display-name>
  	<description></description>
  	<servlet-class>servlets.addteacherservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteteacherservlet</servlet-name>
  	<display-name>deleteteacherservlet</display-name>
  	<description></description>
  	<servlet-class>servlets.deleteteacherservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>assignstudentservlet</servlet-name>
  	<display-name>assignstudentservlet</display-name>
  	<description></description>
  	<servlet-class>servlets.assignstudentservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletestudentservlet</servlet-name>
  	<display-name>deletestudentservlet</display-name>
  	<description></description>
  	<servlet-class>servlets.deletestudentservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>assignteacherservlet1</servlet-name>
  	<display-name>assignteacherservlet1</display-name>
  	<description></description>
  	<servlet-class>servlets.assignteacherservlet1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addsubjectservlet</servlet-name>
  	<display-name>addsubjectservlet</display-name>
  	<description></description>
  	<servlet-class>servlets.addsubjectservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletesubjectservlet</servlet-name>
  	<display-name>deletesubjectservlet</display-name>
  	<description></description>
  	<servlet-class>servlets.deletesubjectservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>assignsubjectservlet</servlet-name>
  	<display-name>assignsubjectservlet</display-name>
  	<description></description>
  	<servlet-class>servlets.assignsubjectservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>assignteacherservlet</servlet-name>
  	<display-name>assignteacherservlet</display-name>
  	<description></description>
  	<servlet-class>servlets.assignteacherservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginservlet</servlet-name>
  	<url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addstudentservlet</servlet-name>
  	<url-pattern>/addstudentservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addteacherservlet</servlet-name>
  	<url-pattern>/addteacherservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteteacherservlet</servlet-name>
  	<url-pattern>/deleteteacherservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>assignstudentservlet</servlet-name>
  	<url-pattern>/assignstudentservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletestudentservlet</servlet-name>
  	<url-pattern>/deletestudentservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>assignteacherservlet1</servlet-name>
  	<url-pattern>/assignteacherservlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addsubjectservlet</servlet-name>
  	<url-pattern>/addsubjectservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletesubjectservlet</servlet-name>
  	<url-pattern>/deletesubjectservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>assignsubjectservlet</servlet-name>
  	<url-pattern>/assignsubjectservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>assignteacherservlet</servlet-name>
  	<url-pattern>/assignteacherservlet</url-pattern>
  </servlet-mapping>
 
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  
  
</web-app>
